.quiz_search_input{
    width: 30%;
}

.prepare_quiz_body{
    display: flex;
    justify-content: center;
    width: 100%;
}

.prepare_quiz_container{
    width: 60%;
}


@media screen and (max-width : 900px){
    .prepare_quiz_container{
        width: 100%;
    }    
}