.head_nav{
    /* display: flex; */
    justify-content: space-between;
    padding: .5rem 0.5rem;
    /* border: 1px solid red; */
    /* background-color: #f0f2f57c; */
    /* background-color: red; */
    align-items: center;
    width: 100%;
    backdrop-filter: blur(6px);
    /* position: fixed; */
    position: sticky;
    /* top: -60px; */
    top: 0;
    z-index: 10;
    transition: top 0.6s;
    display: none;
}

.app_logo img{
    height: 40px;
}

.search{
    background-color: #f0f2f5;
    border-radius: 20px;
    width: 40%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    
}

.search_icon{
    width: 20px;
}

.theme_button_container{
    display: flex;
    align-items: center;
    /* position: absolute; */
    right: .2rem;
}

.header_search{
    display: flex;
    align-items: center;
    background-color: transparent;
    
    border-radius: 4px;
    width: 50%;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    left: 15rem;

}

.search_box{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 .5rem ;
    border-radius: 2px;

}

.search_result{
    padding: .3rem .5rem;
    width: 100%;
}

.header_search_bar{
   border: none;
   outline: none;
   width: 100%;
   margin-left: .5rem;
    background-color: transparent;
}

.search_appear{
    padding: .3rem .5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search_info{
    /* font-size: 14px; */
    display: flex;
    /* flex-direction: column; */
}


@media screen and (max-width : 900px) {
    .search{
        width: 90%;
    }

    .head_nav{
        display: flex;
    }

}

@media screen and (max-width : 760px) {
    .header_search{
        left: 10rem;
    }
}